---

---

<footer class="py-10">
    <section class="seccion__footer flex md:flex-row flex-col gap-y-10 items-center md:justify-around justify-center">
        <div class="md:w-1/2 sm:w-2/3 w-full flex flex-col md:items-start items-center">
            <h1 class="p-1 text-3xl lg:w-1/5 md:w-1/3 sm:w-1/2 w-2/3 text-center mb-2">Goalnet</h1>
            <p class="w-[45%]">Tu lugar accesible para obtener información actualizada en tiempo real del Futbol.</p>
        </div>
        <nav class="grid md:grid-cols-2 grid-cols-1 place-content-center items-center gap-x-20">
            <ul class="flex flex-col gap-4">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
            <ul class="flex flex-col gap-4">
                <li><a href="#">Popular</a></li>
                <li><a href="#">Partidos</a></li>
                <li><a href="#">Equipos</a></li>
                <li><a href="#">Competenciones</a></li>
            </ul>
        </nav>
    </section>
    <p class="text-center mt-20 font-semibold">© 2023 GoalNet</p>
</footer>


<style scoped>
    footer{
        width: 100%;
        margin: auto;
        background-color: #540080;
    }
    .seccion__footer{
        
    }
    h1{
        background-color: gray;
        color: white;
        font-weight: bold;
    }

</style>