---

---

<header class="header__principal text-white ">
    <div class="flex lg:flex-row flex-col justify-between gap-y-20 mx-auto py-4">
        <nav class="flex md:flex-row flex-col items-center gap-16">
            <h1 class="p-1 text-3xl">Goalnet</h1>
            <ul class="flex md:flex-row flex-col items-center gap-20 mx-auto md:mb-0 mb-4">
                <li><a class="text-3xl" href="#partidos">Partidos</a></li>
                <li><a class="text-3xl" href="#equipos">Equipos</a></li>
                <li><a class="text-3xl" href="#competencia">Competiciones</a></li>
            </ul>
        </nav>
        <button 
        class="btn__suscribirse font-bold rounded-lg py-2 px-6 text-3xl lg:mx-0 mx-auto lg:w-1/5 md:w-1/2 w-[60%]">
        Suscribirse
        </button>
    </div>
</header>


<style scoped>
    .header__principal{
        background-color: #10084D;
    }
    .header__principal div{
        width: 95%;
    }
    .btn__suscribirse{
        background-color: #779900;
    }
    h1{
        background-color: gray;
        color: white;
        font-weight: bold;
    }
</style>