---

---

<section class="py-40">
    <form class="w-full">
        <fieldset class="w-11/12 flex lg:flex-row flex-col items-center justify-around mx-auto gap-y-8">
            <div class="flex flex-col items-center justify-center text-left">
                <legend class="md:text-5xl text-4xl md:text-left text-center">Suscríbete a nuestra newsletter</legend>
                <div class="w-full flex flex-col mt-4">
                    <label class="text-xl font-light" for="nombre">Nombre completo</label>
                    <input class="w-[95%] rounded-xl mb-4" id="nombre" type="text" />
                    <label class="text-xl font-light" for="email">Correo Electronico</label>
                    <input class="w-[95%] rounded-xl mb-4" id="email" type="email" />
                    <label class="text-xl font-light" for="pais">Pais</label>
                    <input class="w-[95%] rounded-xl mb-4" id="pais" type="text" />
                    <input 
                    class="md:w-[35%] w-1/2 rounded-full text-2xl font-semibold text-center mx-auto py-1 mt-4 btn__suscribirse" 
                    type="submit" 
                    value="Suscribirme" />
                </div>
            </div>
            <div>
                <img class="img__form" src="/image_form.jpg" alt="banner formulario" />
            </div>
        </fieldset>
    </form>
</section>

<style scoped>
    .img__form{
        border-radius: 2rem;
    }
    .btn__suscribirse{
        background-color: #779900;
    }
</style>