---

---
<section class="md:w-11/12 w-full flex lg:flex-row flex-col lg:justify-between justify-center lg:items-start items-center mx-auto py-20">
    <article class="flex flex-col items-start gap-y-10 md:w-2/5 w-2/3">
        <h2 class="md:text-4xl text-3xl md:text-left text-center">El lugar perfecto para los amantes del fútbol</h2>
        <p class="md:text-3xl text-xl md:text-left text-center">Descubre la plataforma en línea para los amantes del fútbol. Mantente informado con 
            noticias, estadísticas y más. Únete a la comunidad futbolera.
        </p>
        <button class="btn__suscribirse font-bold rounded-lg py-2 px-6 text-3xl lg:mb-0 mb-12">Suscríbete a la newsletter</button>
    </article>
    <article>
        <img class="max-w-full h-auto" src="/banner.png" alt="banner" />
    </article>
</section>

<style scoped>
    .btn__suscribirse{
        background-color: #779900;
        transition: all 0.3s ease-in-out;
    }
    .btn__suscribirse:hover{
        background-color: #607a02d4;
    }
</style>