---
import Layout from '../layouts/Layout.astro';
import Inicio from '../components/sections/Inicio.astro';
import Partidos from "../components/sections/Partidos.astro";
import Competencias from "../components/sections/Competencias.astro";
import Formulario from "../components/sections/Formulario.astro";
---

<Layout title="Goalnet">
	<main>
		<Inicio/>
		<Partidos/>
		<Competencias/>
		<Formulario/>
	</main>
</Layout>

<style scoped>
	main{
		background-color: #0A0533;
	}
</style>

